#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(94, 94, 163, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}
.site-layout-sub-header-background:hover {
  background-color: rgb(238, 112, 46);
}

.site-layout-background {
  background: #fff;
}

html,
body,
#root,
.ant-layout {
  width: 100%;
  height: 100%;
}

.menuItem {
  margin: 40;
  padding: 40;
}

#logoutButton {
  /*background: rgb(238, 112, 46);*/
  /*background: #d3d3d3;
  border: gray;*/
  background: rgb(38, 43, 56);
  border: rgb(38, 43, 56);
}

#logoutButton:hover,
#logoutButton:active {
  background: rgb(238, 112, 46);
  border-color: gray;
}

#clearButton {
  border-radius: 1rem;
}

#clearButton:hover {
  background: rgb(238, 112, 46);
  border-color: rgb(238, 112, 46);
  color: #fff;
}
