* {
  box-sizing: border-box;
}

.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 1rem;
}
.form-control {
  margin-bottom: 4rem;
}

.form-actions button {
  /*background: rgb(83, 185, 157);*/
  background: rgb(238, 112, 46);
  font: inherit;
  /*border: 1px solid rgb(83, 185, 157);*/
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  /*background: #01a7a7;*/
  background: rgb(83, 185, 157);
  border-color: #01a7a7;
}

/*#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
